@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800);

body {
	margin: auto;
	width: auto;
	color: rgba(0, 0, 0, 0.8);
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	line-height: 1;
	text-align: center;
}

::selection {
	background: rgba(227, 80, 80, 0.5);
	color: #fff;
}

@media (min-width: 768px) {
	body {
		font-size: 16px;
	}
}

/*
	Head
*/

.head {
	padding: 5px 0;
	position: absolute;
	top: 0;
	right: 0;
	background: #111;
	border-bottom-left-radius: 7px;
	font-weight: bold;
	opacity: 0.25;
	text-align: left;
	z-index: 4;
}

.head:hover {
	opacity: 0.5;
}

.head a {
	padding: 5px 12px;
	display: block;
	color: #555;
	line-height: 1em;
	text-decoration: none;
}

.head a:hover {
	color: #888;
}

.head a:active {
	color: #aaa;
}

/*
	Version 1
*/

.colour {
	padding: 1.4em 1em;
}

span {
	display: block;
	font-weight: 700;
	letter-spacing: 2px;
	text-transform: uppercase;
}

.timestamp {}

.name {
	font-size: 3em;
	font-weight: 700;
	letter-spacing: -1px;
	text-shadow: rgba(255, 255, 255, 0.3) 0 1px;
	text-transform: uppercase;
}

/*
	Version 2
*/

body.v2 {
	margin-top: 104px;
}

.v2 .colour {
	padding: 0;
	width: 24px;
	height: 24px;
	border: 1px solid #fff;
	float: left;
}

@media (min-width: 992px) {
	.v2 .colour {
		width: 30px;
		height: 30px;
	}
}

.v2 .colour span {
	width: 100%;
	position: fixed;
	top: 0;
	right: 0;
	background: inherit;
	display: none;
}

.v2 .colour:nth-child(2) span,
.v2 .colour:hover span,
.v2 .colour:active span {
	display: block;
}

.v2 .timestamp {
	padding-top: 19px;
	font-size: 14px;
	z-index: 3;
}

.v2 .name {
	margin-top: 33px;
	font-size: 42px;
	max-height: 42px;
	overflow: hidden;
}

.v2 .rgb {
	margin-top: 75px;
	padding-bottom: 14px;
	font-size: 14px;
	z-index: 1;
	border-bottom: 2px solid #fff;
}
